div.background 
{
    width: 100%;
    height: 250px;
    background-image: url('../img/indexacao.png');
    background-size: 100% 100%;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    margin-top: 30px;
    position: relative;
}
div.background-color{
	
	
    background-color: #FFFFE0;
    
    
    
	
}
.paddingTop{
	padding-top: 30px;
}

p{
	font-family: Open Sans
	font-size : 16px;
	color: #333;
}

strong {
	font-size: 18px;
}

.shape{
	border: 5px solid #555;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding-left: 35px;
	color: #555;
	font-size: 14px;
	line-height: 40px;
	padding-top: 30px;
	padding-bottom: 50px;
}

li{
	line-height: 40px;
}

.top-chaves{
	margin-top: 200px;
}

.accordion {
    font-family:Arial, Helvetica, sans-serif; 
    margin:0 auto;
    font-size:14px;
    border:1px solid #000000;
    border-radius:10px;
    width:600px;
    padding:10px;
    background:#ffc;
}
.accordion ul {
    list-style:none;
    margin:0;
    padding:0;    
}
.accordion li {
    margin:0;
    padding:0;
}
.accordion [type=radio], .accordion [type=checkbox] {
    display:none;
}
.accordion label {
    display:block;
    font-size:16px;
    line-height:16px;
    background:#ffffcc;
    border:1px solid #000000;
    color:#000000;
    text-shadow:1px 1px 1px rgba(255,255,255,0.3);
    font-weight:700;
    cursor:pointer;
    text-transform:uppercase;
}
.accordion ul li label:hover, .accordion [type=radio]:checked ~ label, .accordion [type=checkbox]:checked ~ label {
    background:#ffffcf;
    color:#000;
    text-shadow:1px 1px 1px rgba(0,0,0,0.5)
}
.accordion .content {
    padding:0 10px;
    overflow:hidden;
    border:1px solid #000;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
}
.accordion p {
    color:#000000;
    margin:0 0 10px;
}
.accordion h3 {
    color:#ffffff;
    padding:0;
    margin:10px 0;
}



.vertical ul li {
    overflow:hidden;
    margin:0 0 1px;
}
.vertical ul li label {
    padding:10px;
}
.vertical [type=radio]:checked ~ label, .vertical [type=checkbox]:checked ~ label {
    border-bottom:0;
}
.vertical ul li label:hover {
    border:1px solid #000000;
}
.vertical ul li .content {
    height:0px;
    border-top:0;
    transition: all .5s ease-out;
}
.vertical [type=checkbox]:checked ~ label ~ .content {
    height:3650px;
    border:1px solid #222222;
}