div.background 
{
    width: 100%;
    height: 250px;
    background-image: url('../img/indexacao.png');
    background-size: 100% 100%;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    margin-top: 30px;
    position: relative;
}
div.background-color{
	
	
    background-color: #FFFFE0;
    
    
    
	
}
.paddingTop{
	padding-top: 30px;
}

p{
	font-family: Open Sans
	font-size : 16px;
	color: #333;
}

strong {
	font-size: 18px;
}

.shape{
	border: 5px solid #555;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding-left: 35px;
	color: #555;
	font-size: 14px;
	line-height: 40px;
	padding-top: 30px;
	padding-bottom: 50px;
}

li{
	line-height: 40px;
}

.top-chaves{
	margin-top: 200px;
}

<<<<<<< HEAD






article.accordion
{
	display: block;
	width: 74em;
	margin: 0 auto;
	background-color: #ffc;
	overflow: hidden;
	border-radius: 5px;
	/**box-shadow: 0 3px 3px rgba(0,0,0,0.3)**/
}


article.accordion section
{
	position: relative;
	display: block;
	float: left;
	width: 2em;
	height: 25em;
	margin: 1em 0 1em 1em;
	color: #333;
	background-color: #333;
	overflow: hidden;
	border-radius: 2em;
}


article.accordion section h2
{
	position: relative;
	font-size: 1em;
	font-weight: bold;
	width: 27em;
	height: 2em;
	top: 26em;
	left: 0.5em;
	text-indent: 1em;
	padding: #000;
	margin: 0;
	color: #ddd;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

article.accordion section h2 a
{
	display: block;
	width: 100%;
	line-height: 1em;
	text-decoration: none;
	color: #ffc;
	text-shadow: 0.2em 0.2em 0.2em #000;
	outline: 0 ;
}

article.accordion section:target
{
	width: 44em;
	padding: 0 1em;
	color: #333;
	background-color: #ffc;
	overflow:hidden;
}

article.accordion section:target h2
{
	position: static;
	font-size: 1em;
	text-indent: 0;
	color: #333;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	
}


article.accordion section,
article.accordion section h2
{
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
=======
.accordion {
    font-family:Arial, Helvetica, sans-serif; 
    margin:0 auto;
    font-size:14px;
    border:1px solid #000000;
    border-radius:10px;
    width:600px;
    padding:10px;
    background:#ffc;
}
.accordion ul {
    list-style:none;
    margin:0;
    padding:0;    
}
.accordion li {
    margin:0;
    padding:0;
}
.accordion [type=radio], .accordion [type=checkbox] {
    display:none;
}
.accordion label {
    display:block;
    font-size:16px;
    line-height:16px;
    background:#ffffcc;
    border:1px solid #000000;
    color:#000000;
    text-shadow:1px 1px 1px rgba(255,255,255,0.3);
    font-weight:700;
    cursor:pointer;
    text-transform:uppercase;
}
.accordion ul li label:hover, .accordion [type=radio]:checked ~ label, .accordion [type=checkbox]:checked ~ label {
    background:#ffffcf;
    color:#000;
    text-shadow:1px 1px 1px rgba(0,0,0,0.5)
}
.accordion .content {
    padding:0 10px;
    overflow:hidden;
    border:1px solid #000;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
}
.accordion p {
    color:#000000;
    margin:0 0 10px;
}
.accordion h3 {
    color:#ffffff;
    padding:0;
    margin:10px 0;
}



.vertical ul li {
    overflow:hidden;
    margin:0 0 1px;
}
.vertical ul li label {
    padding:10px;
}
.vertical [type=radio]:checked ~ label, .vertical [type=checkbox]:checked ~ label {
    border-bottom:0;
}
.vertical ul li label:hover {
    border:1px solid #000000;
}
.vertical ul li .content {
    height:0px;
    border-top:0;
    transition: all .5s ease-out;
}
.vertical [type=checkbox]:checked ~ label ~ .content {
    height:3650px;
    border:1px solid #222222;
>>>>>>> ed77584cf3cb3aea57aec2aa038218bed4a8fc58
}